.galgen {
  width: 0%;
  height: 300px;
  /* margin: 0 auto; */
  position: relative;
  /* border: solid 2px white; */
}

.vertical-beam {
  width: 10px;
  height: 260px;
  background-color: #8B4513;
  position: absolute;
  top: 20px;
  left: 10px;
}

.horizontal-beam {
  width: 180px;
  height: 10px;
  background-color: #8B4513;
  position: absolute;
  top: 20px;
  left: 20px;
}

.noose {
  width: 10px;
  height: 40px;
  background-color: #8B4513;
  position: absolute;
  top: 30px;
  left: 190px;
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 70px;
  left: 170px;
}

.body {
  width: 10px;
  height: 80px;
  background-color: green;
  position: absolute;
  top: 119px;
  left: 190px;
}

.left-arm {
  width: 60px;
  height: 10px;
  background-color: green;
  position: absolute;
  top: 130px;
  left: 145px;
  transform: rotate(45deg);
}

.right-arm {
  width: 60px;
  height: 10px;
  background-color: green;
  position: absolute;
  top: 130px;
  left: 185px;
  transform: rotate(-45deg);
}

.left-leg {
  width: 60px;
  height: 10px;
  background-color: green;
  position: absolute;
  top: 208px;
  left: 145px;
  transform: rotate(-45deg);
}

.right-leg {
  width: 60px;
  height: 10px;
  background-color: green;
  position: absolute;
  top: 208px;
  left: 185px;
  transform: rotate(45deg);
}

.red {
  background-color: #FF0000;
  animation-name: headColorChange;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes headColorChange {
  0% {
    background-color: #FFCCCC;
  }
  50% {
    background-color: #FF6666;
  }
  100% {
    background-color: #FF0000;
  }
}

.fall-down {
  animation-name: fallDown;
  animation-duration: 5s;
  animation-fill-mode: both;
}

@keyframes fallDown {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(150px) rotate(180deg);
  }
  100% {
    transform: translateY(300px) rotate(360deg);
  }
}
